.obj
bin
build
siblings/gtest
siblings/googletest
.vscode

*Makefile*
*.bmp
*.ply
*.log

.qmake.stash
cvs-open.pro.user
tools/generator/generator

cmake-build-debug/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

