
html {
    overflow-y: scroll;
}

#img {
    object-fit: cover;
    width: 400px;
    height: 100%;
    border: solid 4px #789ABC;
}
#imgDiv {
    /* other styles */
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    text-align: center;
}
#properties input {
    border: 2px solid #008000;
    width: 230px;
    /* border: 2px solid #456879; */
    border-radius:10px;
}
#properties input:focus {
    outline: none;
}
.property_confirmed {
    background-color : #99FFCC;
}
.property_loading {
    background-color : #FFFF50;
}
.property_failed {
    background-color : red;
}

/* Table */
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    width: 100%;
    padding:5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}
tr:nth-child(odd) td {
    background:#EBEBEB;
}
tr:nth-child(odd):hover td {
    background:#4E5066;
}
td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    height: 32px;
}
td input {
    font-size: 18px;
}

/* Menu */
#menu {
    display: grid;
    color: red;
    width: 100%;
    height: 100px;
    background-color: #abcdef;
    grid-template-columns: auto repeat(3, 80px) 40px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}
#menuOptionCamera { grid-column: 2; }
#menuOption2 {      grid-column: 3; }
#menuOption3 {      grid-column: 4; }
#menu button:active {
    -webkit-animation: active 1200ms ease 1 alternate;
    animation: active 1200ms ease 1 alternate;
    background: #5F9BE0;
}
#menu button {
    background: #76B3FA;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    margin: 5%;
}
#menu button:focus {
    outline: none;
}
#menu .gray { background: #D2D2D2; }
#menu .gray:active { background: #b9b9b9; }

#content {
    margin: 0 2%;
}

#aboutSection {
    width: 50%;
    font-size: 28px;
    margin: 5% auto 0 auto;
}

@media(min-width: 550px) {
    #img {
        width: 500px;
    }
}

/* DESKTOP VERSION */
@media(min-width: 768px) {
    #tables {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .table-fill {
        grid-column: 1;
    }

    #properties {
        grid-column: 2;
    }

    #menu button {
        border-radius: 100px;
        font-size: 1.45em;
    }

    #menu {
        display: grid;
        color: red;
        width: 100%;
        height: 100px;
        background-color: #abcdef;
        grid-template-columns: auto repeat(3, 200px) 100px;
        font-family: 'Montserrat', Helvetica, sans-serif;
    }

    #img {
        width: 700px;
    }
}

@media(min-width: 850px) {
    #img {
        width: 800px;
    }
}

/* Background */
body {
    background-color: #7373D3;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size:50px 50px;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg)
}
